# <p style="color:#38C77C; text-align:center">ðŸ“ˆ ANALYSE DES DONNÃ‰ES Ã€ SÃ‰RIE TEMPORELLES ðŸ“ˆ</p>  
## <p style="color:#38C77C; text-align:center">AUTEUR : OUEDRAOGO SALAM</p>  
## <p style="color:#38C77C; text-align:center">DATE : 2023-02-27</p>  
---------------------------
## <p style="text-align:center; background-color:#A43DC2; padding:12px;">PLAN DE TRAVAIL</p>  

1. INTRODUCTION
2. PRÃ‰PARATION DES DONNÃ‰ES  
    2.1.	COLLECTE DES DONNÃ‰ES  
    2.2.	Ã‰VALUATION DES DONNÃ‰ES  
    2.3.	NETTOYAGE DES DONNÃ‰ES  
    2.4.	CONCLUSION
3. ANALYSE EXPLORATOIRE  
    3.1.	ANALYSE DE LA VARIABLE DÃ‰PENDANTE  
    3.2.	ANALYSE DES VARIABLES INDÃ‰PENDANTES QUANTITATIVES   
    3.3.	ANALYSE DES VARIABLES INDÃ‰PENDANTES QUALITATIVES  
4. FEATURE INGENERING  
5. DÃ‰VELOPPEMENT DU MODEL
6. CONCLUSION ET LIMITES
7. RÃ‰FÃ‰RENCES

## <p style="text-align:center; background-color:#A43DC2; padding:10px;">INTRODUCTION</p>

import numpy as np
import pandas as pd

In [1]:
import numpy as np
import pandas as pd

In [3]:
pd.read_csv("garments_worker_productivity.csv")

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722